.route-instructor button {
    margin: 10px !important;
}

.route-instructor .sidebar-left,
.route-instructor .form-check-label {
    padding-right: 5px !important;
}

.route-instructor .sidebar-left {
    padding-right: 5px !important;
}

.route-instructor .form-check-inline {
    padding-left: 15px !important;
}

.route-instructor .card {
    margin: 5px !important;
}

.route-instructor .details {
    border-left: 1px solid grey;
    display: flex;
    flex-flow: row !important;
}

.route-instructor .userprofile {
    width: 18rem !important;
}